<!DOCTYPE html>
<html>
<head>
  <title>CloudSounds</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'audiojs/audio.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <script type="text/javascript">
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    })
  </script>

<%= yield %>

</body>
</html>
